@font-face {
        font-family: "PT Sans";
        src: url("../fonts/ptsans-400.woff2") format("woff2");
        font-style: normal;
        font-weight: 400;
        
}
@font-face {
        font-family: "PT Sans";
        src: url("../fonts/ptsans-700.woff2") format("woff2");
        font-style: normal;
        font-weight: 700;
}

html, body {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
body {
    font-family: "PT Sans", sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}
button {
    cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-content {
    flex-grow: 1;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.small-text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #fff;
}
.head1 {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
}
.head2 {
    font-size:30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.head3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.heading-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
}
.card-text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}
.card-text-white {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #fff;
}
.head4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
a.head4 {
    color: #000;
}
.phone-num {
    font-size: 40px;
    line-height: 40px;
    color: #000;
    font-weight: 400;
    font-style: normal;
}
.phone-num:hover, .phone-num:focus {
    color: #756157;
    outline: none;
}
.phone-num:active {
    color: rgba(117, 97, 87, 0.3);
}
.btn {
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans";
    cursor: pointer;
    padding: 8px 34px;
}
.btn-big {
    font-size: 20px;
    line-height: 36px;
}
.heading__btn-action {
    display: block;
    margin-left: 20px;
}
.btn:active {
    color: rgba(255, 255, 255, 0.3);
}
.btn:disabled {
    background-color: #E5E5E5;
}
.btn-basic {
    background-color: #756157;
}
.btn-basic:hover {
    background-color: #615048;
}
.btn-extra {
    background-color: #82B3D3;
}
.btn-extra:hover {
    background-color: #68A2CA;
}
.btn-selected {
    background-color: #7DB54F;
}
.btn-selected:hover {
    background-color: #6C9E42;
}
.btn-transparent {
    background: none;
}
.entry-banner {
    background-color: #656565;
    background-image: url("../images/index-background.jpg");
    background-position: center center;
    height: 485px;
    background-repeat: no-repeat;
    text-align: center;
}
.welcome-words {
    padding-top: 51px;
}
.suggests__section-subscribe {
    background-color: #756157;
    background-image: url("../images/subscribe-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 104px;
}
.suggests__form {
    display: flex;
    align-items: center;
    justify-content: center;
}
#email {
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 4px 0 0 4px;
    min-width: 452px;
}
#subscribe-btn {
    border-radius: 0 4px 4px 0;
}
.suggests__section-subscribe p, .suggests__section-subscribe h3 {
    color: #fff;
}
.suggests-text {
    max-width: 475px;
    margin: 0 auto;
    text-align: center;
}
.about-text {
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    padding-top: 69px;
    padding-bottom: 90px;
    /* в макете не понял момента, для контейнера с текстом
    вертикальные отступы по 69px, но и внутри секции был паддинг в 21px
    для идентичного внешнего вида я их сложил просто, сотавил 69 + 21px
    */
}
.suggests__section-motel {
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 590px;
    margin: 0 auto;
}
.advantages-text {
    text-align: center;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 505px;
}

input[type="text"] {
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 20px;
}
input[type="text"]:hover {
    background-color: #E6E6E6;
}
.heading__btn-search, .heading__btn-fav {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 36px;
    background-color: #fff;
}

/* Иконки для кнопок в навигации */
.heading__btn-search {
    background-image: url("../images/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
}
.heading__btn-fav {
    background-image: url("../images/heart.svg");
    background-position: center center;
    background-repeat: no-repeat;
}
.about-list__card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 102px 85px;
    box-sizing: border-box;
}
.about-text  {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about-text__heading, .about-text__paragraph {
    display: inline-block;
    margin: 0;
}
.about-list__card-heading, .about-list__card-text {
    display: inline-block;
    margin: 0;
}
.about-list__card:first-child, .about-list__card:last-child {
    background-color: #82B3D3;
    color: white;
}
.about-list__card:nth-child(3), .about-list__card:nth-child(5) {
    background-color: rgba(131, 179, 211, 0.12);
}
.about-list__card:nth-child(4) {
    background-color: rgba(131, 179, 211, 0.2);
}
.filter-section {
    background-image: url("../images/filter-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #656565;
    background-size: cover;
    color: #fff;
    padding: 35px 70px 70px 70px;

}
.chekbox-text { 
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}
.btn-normal {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.advantages-list__card:first-child, .advantages-list__card:last-child {
    background-color: rgba(131, 179, 211, 0.12);
}
.list-item h3 {
    text-transform: none;
}
.heading {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 70px;
    background-color: #fff;
    position: relative;
    z-index: 10;
}
.heading__logo {
    display: inline-block;
    width: 138px;
    height: 64px;
}

.navigation-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navigation-links__link a { 
    display: inline-block;
    padding: 20px 16px;
    cursor: pointer;
}
.additional-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 2px;
    /* чтобы кнопки не слипались при увеличении кол-ва элементов в контейнере*/
}
.heading-navigation {
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: 500px;
}
ul.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}
.about-list__card {
    width: 400px;
    height: 385px;
}
.about-list__card-img {
    display: block;
    width: 800px;
    height: 385px;
}
.advantages-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}
.advantages-list__card {
    width: 400px;
    height: 385px;
    padding: 81px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px 70px;
    background-color: #fff;
}
.contact-heading {
    display: flex;
    width: 100%;;
}
.social-links {
    display: flex;
    gap: 10px;
    max-width: 200px;
    flex-wrap: wrap;
}
.filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filter__heading {
    display: inline-block;
    margin: 0;
    padding-bottom: 8px;
}
.filter-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;

}
.filter-group legend {
    margin-bottom: 32px;
}
.options-list {
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
}
.options-list li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.filter-group--price {
    width: 288px;
}
.options-list-buttons {
    display: flex;
    gap: 2px;
    padding-left: 0;
}
.cards-container__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 70px;
}
.list-item {
    width: 340px;
    height: 438px;
}
.sorting-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px 50px 70px;
    flex-wrap: wrap;
}
.social-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #83B3D3;
}
.breadcrumps {
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 80%;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.sort-select {
    padding: 14px 20px;
    min-width: 290px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}
.sort-select:hover, .sort-select:focus {
    border-color: #68A2CA;
    outline: none;
}
.heading-layout-buttons {
    display: flex;
    gap: 8px;
    margin-left: auto;
    max-width: 300px;
    align-items: center;
    flex-wrap: wrap;
}
.layout-btn {
    width: 48px;
    height: 48px;
}
.items-container__heading {
    padding-right: 200px;
}
.pagination_buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 40px 70px 60px 70px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.pag-btn {
    display: block;
    line-height: 60px;
    text-align: center;
    padding: 0;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}
.active-page {
    background-color: #F2F2F2;
    color: #000;
}
.white-container {
    background: none;
}
.white-container p {
    color: #333333;
}
.white-container h3 {
    color: #000;
}